In [1]:
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sb

In [2]:
# Importing the dataset of xlsx format
xls = pd.ExcelFile('Dataset//Data Visualization Graded Case Study Dataset.xlsx')
data = pd.read_excel(xls, 'Data')
data_desc = pd.read_excel(xls, 'Desc')
data.dtypes

Policy Number       int64
Year                int64
IDV               float64
City               object
State              object
Cubic Capacity      int64
Mfr-Model          object
Premium           float64
Gender             object
Age                object
dtype: object

In [3]:
data.head()

,Policy Number,Year,IDV,City,State,Cubic Capacity,Mfr-Model,Premium,Gender,Age
0,3824243,2005,112919.550741,NEWDELHI,NCR,1250,Tata Indica,4496.000000,Female,18-25
1,3656181,2005,112891.395611,NEWDELHI,NCR,1250,Tata Indica,2901.645961,Male,25 - 30
2,4582783,2005,113846.461368,AHMEDABAD,Gujarat,1250,Tata Indica,2993.731367,Male,25 - 30
3,3287662,2005,111821.504450,INDORE,MADHYAPRADESH,1250,Tata Indica,3032.080573,Male,30 - 40
4,4852610,2005,114843.809135,KOLKATTA,WEST BENGAL,1250,Tata Indica,3049.827682,Male,40 - 50

In [7]:
#Cleaning up the independent varibales
#Checking for missing values
#converting PolicyNumber to String
data.isnull().sum()

Policy Number     0
Year              0
IDV               0
City              0
State             0
Cubic Capacity    0
Mfr-Model         0
Premium           0
Gender            0
Age               0
dtype: int64

#Is null function showing no missing value but Age column has values as True which doesnot have any meaning

In [5]:
data['Age'].value_counts()

30 - 40    539
40 - 50    443
25 - 30    407
18-25      297
50 - 60    186
60 - 70     86
True        52
Name: Age, dtype: int64

In [27]:
#Age has 52 missing values which needs to be replaced
#Lets box plot Premium in diffrent Age group
import seaborn as sb
bplot = sb.boxplot(x='Age', y='Premium', data=data)