In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import seaborn as sb

In [12]:
# Importing the dataset of xlsx format
xls = pd.ExcelFile('Dataset//Data Visualization Graded Case Study Dataset.xlsx')
data = pd.read_excel(xls, 'Data')
data_desc = pd.read_excel(xls, 'Desc')
data.dtypes

,Policy Number,Year,IDV,City,State,Cubic Capacity,Mfr-Model,Premium,Gender,Age
0,3824243,2005,112919.550741,NEWDELHI,NCR,1250,Tata Indica,4496.000000,Female,18-25
1,3656181,2005,112891.395611,NEWDELHI,NCR,1250,Tata Indica,2901.645961,Male,25 - 30
2,4582783,2005,113846.461368,AHMEDABAD,Gujarat,1250,Tata Indica,2993.731367,Male,25 - 30
3,3287662,2005,111821.504450,INDORE,MADHYAPRADESH,1250,Tata Indica,3032.080573,Male,30 - 40
4,4852610,2005,114843.809135,KOLKATTA,WEST BENGAL,1250,Tata Indica,3049.827682,Male,40 - 50

In [18]:
data.head()

,Year,IDV,City,State,Cubic Capacity,Mfr-Model,Premium,Gender,Age
0,2005,112919.550741,NEWDELHI,NCR,1250,Tata Indica,4496.000000,Female,18-25
1,2005,112891.395611,NEWDELHI,NCR,1250,Tata Indica,2901.645961,Male,25 - 30
2,2005,113846.461368,AHMEDABAD,Gujarat,1250,Tata Indica,2993.731367,Male,25 - 30
3,2005,111821.504450,INDORE,MADHYAPRADESH,1250,Tata Indica,3032.080573,Male,30 - 40
4,2005,114843.809135,KOLKATTA,WEST BENGAL,1250,Tata Indica,3049.827682,Male,40 - 50

In [13]:
#Cleaning up the independent varibales
#Checking for missing values
#converting PolicyNumber to String
data.isnull().sum()# No missing value
data.describe()
data.columns
#Some missing values in Age
data['Age'].describe()

count        2010
unique          7
top       30 - 40
freq          539
Name: Age, dtype: object

In [15]:
data.columns

Index(['Policy Number', 'Year', 'IDV', 'City', 'State', 'Cubic Capacity',
       'Mfr-Model', 'Premium', 'Gender', 'Age'],
      dtype='object')

In [17]:
#Column1: Policy number is a uniques identifier so it will have no dependecy on our analysis
data=data.drop(['Policy Number'], axis=1)

In [22]:
sb.set(style="whitegrid")
ax = sb.boxplot(x='Mfr-Model', y='Premium',data=data)

In [25]:
fig1, ax1 = plt.subplots()
ax1.set_title('Basic Plot')
ax1.boxplot(data)

TypeError: unhashable type: 'slice'